/*********** common css ***********/
*{
    margin: 0;
    padding: 0;
}
body,h1,h2,h3,h4,h5,h6{
    font-family: 'Poppins', sans-serif;
}
section{
    padding-bottom: 150px;
}
h1{
    font-size: 50px;
}
/******** top-banner **********/
/****** flex-content *******/
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.flex-content{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width span{
    color: #ff5200;
}
.half-width h3{
    font-weight: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}
.half-width p{
    color: rgb(175, 162, 162);
    font-size: 15px;
    margin-bottom: 20px;
}
.link-button {
    text-decoration: none;
    background: linear-gradient(45deg, lightsalmon, tomato);;
    padding: 10px 40px;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    border-radius: 5px;
}
.half-width img{
    width: 80%;
}
/********* dream-big *********/
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
/********** experiences_area ***********/
.experiences_area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience_itms{
    display: flex;
    padding: 5%;
}
.exp_widget{
    width: 50%;
    box-shadow: 10px 20px 40px gray;
    padding: 5%;
    margin-left: 20px;
    margin-right: 20px;
}
.exp_widget h2{
    font-size: 40px;
    margin-bottom: 20px;
}
.exp_widget strong{
    font-size: 20px;
    display: inline-block;
    color: #ff5200;
    margin-bottom: 20px;
}
.exp_widget p{
    font-size: 15px;
    color: rgb(175, 162, 162);
    margin-bottom: 20px;
}
#junior_developer{
    border-left: 7px solid blue;
}
#fullStack_developer{
    border-left: 7px solid #ff5200;
}